Home
<h4>Database rows</h4>
<table border="1">
  <% index = 0 %>
  <% SampleModel.all.each do |sample_model| %>
      <tr>
        <th>#<%= index += 1 %></th>
        <td><%= sample_model.id %></td>
        <td>
          <i>
            <%= sample_model.column1 %>
          </i>
        </td>
      </tr>
  <% end %>
</table>
<h4>ENVs</h4>
<table>
  <% index = 0 %>
  <% ENV.each do |key, value| %>
    <tr>
      <th>#<%= index += 1 %></th>
      <td><%= key %></td>
      <td>
        <i>
            <%= value %>
        </i>
      </td>
    </tr>
  <% end %>
</table>